.clients
    margin-bottom: 80px
    +until-tablet
        margin-bottom: 45px
    & .swiper-buttons
        opacity: 0
        visibility: hidden
        +until-tablet
            opacity: 1
            visibility: visible
    &__list
        width: 100%
        +media-from(1350px)
            overflow: initial
        & .swiper-wrapper
            +media-from(1350px)
                display: flex
                flex-wrap: wrap
                align-items: center
                justify-content: space-around
        &-img
            width: max-content
            +until-tablet
                height: 100px
            &:not(:last-of-type)
                margin-right: 15px
            & img
                width: 100%
                height: 100%
                object-fit: contain
                filter: grayscale(1)
                transition: filter .3s
                &:hover
                    filter: grayscale(0)