.contacts
    margin-bottom: 80px
    +until-tablet
        margin-bottom: 45px
    & .wrapper
        align-items: flex-start
        justify-content: space-between
        flex-direction: row
        +until-tablet
            align-items: center
            flex-direction: column
    &__map
        width: 100%
        max-width: 460px
        +until-tablet
            width: 100vw
            height: 300px
            max-width: unset
    &__title
        text-align: left

    &__left
        width: 100%
        max-width: 700px
        margin-right: 50px
        display: flex
        flex-direction: column
        +media-until(900px)
            margin-right: 25px
        +until-tablet
            align-items: center
            margin-right: 0
            margin-bottom: 30px
        &-bottom
            display: flex
            +until-tablet
                flex-direction: column
                align-items: center
    &__list
        margin-bottom: 25px
    &__item
        margin-bottom: 20px
        display: flex
        +until-tablet
            flex-direction: column
            align-items: center
            margin-bottom: 15px
        &-key
            width: 100%
            max-width: 245px
            display: flex
            align-items: flex-start
            font-size: 14px
            line-height: 120%
            +until-tablet
                width: max-content
                margin-bottom: 5px
            & span
                flex-shrink: 0
            &::after
                margin: 0 3px
                height: 13px
                content: ''
                width: 100%
                border-bottom: 1px dotted $black
                +until-tablet
                    display: none
        &-value
            display: inline-table
            width: auto
            flex-shrink: 0
            max-width: 330px
            font-weight: bold
            line-height: 120%
    &__social
        margin-right: 20px
        display: flex
        flex-direction: column
        +until-tablet
            margin-right: 0
            margin-bottom: 20px
            
        &-title
            margin-bottom: 5px
            font-weight: bold
        &-list
            display: flex
            align-items: center
            
        & a
            display: block
            width: 20px
            height: 20px
            +until-tablet
                width: 30px
                height: 30px
            &:not(:last-of-type)
                margin-right: 10px
            &:hover svg
                fill: #575756
            & svg
                transition: fill .3s
                width: 100%
                height: 100%
                fill: $black