.listing
    width: 100%
    margin-bottom: 80px
    +until-tablet
        margin-bottom: 45px
    &__content
        display: flex
        align-items: flex-start
        justify-content: space-between
        width: 100%
    &__products
        width: calc(100% - 270px)
        display: flex
        flex-direction: column
        +media-until(1200px)
            width: 100%
        & .swiper-scrollbar-drag
            cursor: grab
        &-list
            width: 100%
            display: grid
            grid-gap: 20px
            &.grid
                grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))
                grid-gap: 30px 17px
                .listing__products-item
                    display: flex
                    flex-direction: column
                    &-left
                        width: 100%
                        
                        grid-template-columns: 1fr 1fr 1fr
                    &-right
                        margin-left: 0
                        margin-top: auto
                        width: 100%
                        align-items: flex-start
                    &-button
                        width: 100%
                    &-avail
                        order: 0
                    &-rate
                        order: 1
                        margin-right: 0
                        grid-column: span 1
                    &-photo
                        width: 100%
                        height: 120px
                        margin: 5px 0 10px
                        max-width: unset
                        order: 2
                        grid-column: span 3
                    &-art
                        order: 3
                        grid-column: span 3
                        margin-bottom: 10px
                    &-title
                        margin-bottom: 20px
                        order: 4
                        grid-column: span 3
        &-item
            background: #FFFFFF
            border: 1px solid #EAEAEA
            border-radius: 2px
            padding: 17px
            display: flex
            align-items: center
            &-left
                display: grid
                grid-template-columns: 1fr 1fr 1fr 1fr
            &-right
                margin-left: auto
                display: flex
                flex-direction: column
            &-price
                margin-bottom: 15px
                font-weight: bold
                font-size: 24px
            &-button
                position: relative
                &.added
                    box-shadow: none
                    &::before
                        pointer-events: none
                        position: absolute
                        content: ''
                        height: 100%
                        border: 1px solid #3C3C3B
                        border-radius: 5px
                        width: 100%
                        top: 0
                        left: 0
                        background-color: #fff
                    &::after
                        pointer-events: none
                        content: ''
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                        width: 24px
                        height: 18px
                        transition: background .3s
                        background: url(../img/svg-sprite/button-added.svg) no-repeat center
                        background-size: contain
                    &:hover::after
                        width: 16px
                        height: 16px
                        background: url(../img/svg-sprite/button-delete.svg) no-repeat center

            &-photo
                margin-right: 24px
                max-width: 170px
                grid-row: span 3
                grid-column: span 2
                order: 0
                & img
                    width: 100%
                    height: 100%
                    object-fit: cover
            &-avail
                order: 1
                display: flex
                align-items: center
                grid-column: span 2
                & svg
                    margin-right: 10px
                    width: 12px
                    height: 9px
            &-title
                order: 2
                grid-column: span 2
                & a
                    text-transform: uppercase
                    padding-bottom: 2px
                    font-weight: bold
                    font-size: 18px
                    transition: border-bottom-color .3s
                    border-bottom: 1px dashed rgba(60, 60, 59, .5)
                    &:hover
                        border-bottom-color: transparent
            &-rate
                width: max-content
                order: 4
                display: flex
                align-items: center
                margin-right: 10px
                fill: $orange
                &.one
                    & svg:nth-of-type(1) ~ svg
                        fill: #B1B2B3
                &.two
                    & svg:nth-of-type(2) ~ svg
                        fill: #B1B2B3
                &.three
                    & svg:nth-of-type(3) ~ svg
                        fill: #B1B2B3
                &.four
                    & svg:nth-of-type(4) ~ svg
                        fill: #B1B2B3
                & svg
                    width: 11px
                    height: 11px
                    &:not(:last-of-type)
                        margin-right: 4px
            &-art
                order: 3
                align-self: center
                color: #B1B2B3
                font-weight: bold

@media(max-width: 767px) 
    .listing__products-list
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))
        grid-gap: 30px 17px
        .listing__products-item
            display: flex
            flex-direction: column
            &-left
                width: 100%
                
                grid-template-columns: 1fr 1fr 1fr
            &-right
                margin-left: 0
                margin-top: auto
                width: 100%
                align-items: flex-start
            &-price
            &-button
                width: 100%
            &-avail
                order: 4
                margin-bottom: 5px
                grid-column: span 2
            &-rate
                margin-left: auto
                margin-right: 0
                order: 2
                grid-column: span 1
                margin-bottom: 10px
            &-photo
                width: 100%
                height: 144px
                margin: 5px 0 10px
                max-width: unset
                order: 0
                grid-column: span 3
            &-art
                order: 1
                grid-column: span 2
                margin-bottom: 10px
            &-title
                margin-bottom: 20px
                order: 3
                grid-column: span 3