.sidebar
    .sidebar__top
        a(href="/").sidebar__logo
            +svg('logo-full')
        .sidebar__social
            a(href="#")
                +svg('icon-inst')
            a(href="#")
                +svg('icon-vk')
            a(href="#")
                +svg('icon-yt')
            a(href="#")
                +svg('icon-face')
    .sidebar__products
        a(href="#").sidebar__products-item
            img(src="./img/sidebar/products-1.png" alt="")
            span Нерудные материалы 
        a(href="#").sidebar__products-item
            img(src="./img/sidebar/products-2.png" alt="")
            span Бетон товарный
        a(href="#").sidebar__products-item
            img(src="./img/sidebar/products-3.png" alt="")
            span ЖБИ изделия 
        a(href="#").sidebar__products-item
            img(src="./img/sidebar/products-4.png" alt="")
            span Металлопрокат
        a(href="#").sidebar__products-item
            img(src="./img/sidebar/products-5.png" alt="")
            span Стеновые материалы
        a(href="#").sidebar__products-item
            img(src="./img/sidebar/products-6.png" alt="")
            span Кровельные материалы
        a(href="#").sidebar__products-item
            img(src="./img/sidebar/products-7.png" alt="")
            span Утеплитель
    .sidebar__info
        span ООО «СК «Монолит»
        a(href="mailto:info@monolit78.ru") info@monolit78.ru
        span 
            | Город работы:
            .sidebar__info-city
                +svg('icon-place')
                span Санкт-Петербург



