head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	title Project
	link(rel="stylesheet", href="css/main.css")
	//- link(rel="preload" href="fonts/TTDaysSans-Black.ttf" as="font" type="font/ttf" crossorigin)
	//- link(rel="preload" href="fonts/Montserrat-Regular.ttf" as="font" type="font/ttf" crossorigin)
	//- link(rel="preload" href="fonts/Montserrat-Medium.ttf" as="font" type="font/ttf" crossorigin)
	//- link(rel="preload" href="fonts/Montserrat-Bold.ttf" as="font" type="font/ttf" crossorigin)
	//- link(rel="preload" href="fonts/Montserrat-SemiBold.ttf" as="font" type="font/ttf" crossorigin)