mixin svg(name, vbox, w, h)
    - mod = mod || ''
        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink="http://www.w3.org/1999/xlink" version='1.1'  class=`svg `+ name, viewBox = vbox, width = w, height = h)
            use(xlink:href="./img/svg-sprite.svg#" + name)