section.advantages
    .wrapper
        h1.title-1 Преимущества компании
        .advantages__cards
            .advantages__card.fadeInUp
                .advantages__card-img
                    +svg('advant-1','0 0 39 38','39','38')
                .advantages__card-title Комплексные поставки материалов
                .advantages__card-text Для строительства дома под ключ
            .advantages__card.fadeInUp
                .advantages__card-img
                    +svg('advant-2','0 0 38 38','38','38')
                .advantages__card-title Высокое качество продукции
                .advantages__card-text Подтвержденное сертификатами и действующими ГОСТ
            .advantages__card.fadeInUp
                .advantages__card-img
                    +svg('advant-3','0 0 38 38','38','38')
                .advantages__card-title Доставка
                .advantages__card-text В любую точку Санкт-Петербурга и Ленинградской области
            .advantages__card.fadeInUp
                .advantages__card-img
                    +svg('advant-4','0 0 38 38','38','38')
                .advantages__card-title Круглосуточная поставка
                .advantages__card-text Без праздников и выходных

