section.banner
    .wrapper
        .swiper-container.fadeInUp
            .swiper-buttons
                .swiper-button-prev
                .swiper-button-next
            .swiper-wrapper
                .swiper-slide
                    .banner__slide
                        img(src="./img/banner1.png" alt="")
                        .banner__slide-content
                            .banner__slide-title.title-1 Нерудные материалы
                            .banner__slide-text Рассчитаем с доставкой в любой р-н Спб
                            a(href="#").yellow-btn ЗАКАЗАТЬ

                .swiper-slide
                    .banner__slide
                        img(src="./img/banner1.png" alt="")
                        .banner__slide-content
                            .banner__slide-title.title-1 Нерудные материалы
                            .banner__slide-text Рассчитаем с доставкой в любой р-н Спб
                            a(href="#").yellow-btn ЗАКАЗАТЬ
                .swiper-slide
                    .banner__slide
                        img(src="./img/banner1.png" alt="")
                        .banner__slide-content
                            .banner__slide-title.title-1 Нерудные материалы
                            .banner__slide-text Рассчитаем с доставкой в любой р-н Спб
                            a(href="#").yellow-btn ЗАКАЗАТЬ