section.catalog
    .wrapper
        h1.title-1 Heading 1
        .catalog__cards
            a(href="#").catalog__card.fadeInUp
                img(src="./img/catalog/catalog1.png", alt="").catalog__card-img
                .catalog__card-title
                    span Бетон товарный
            a(href="#").catalog__card.fadeInUp
                img(src="./img/catalog/catalog2.png", alt="").catalog__card-img
                .catalog__card-title
                    span Бетон товарный
            a(href="#").catalog__card.fadeInUp
                img(src="./img/catalog/catalog3.png", alt="").catalog__card-img
                .catalog__card-title
                    span Бетон товарный
            a(href="#").catalog__card.fadeInUp
                img(src="./img/catalog/catalog4.png", alt="").catalog__card-img
                .catalog__card-title
                    span Бетон товарный
            a(href="#").catalog__card.fadeInUp
                img(src="./img/catalog/catalog5.png", alt="").catalog__card-img
                .catalog__card-title
                    span Бетон товарный
            a(href="#").catalog__card.fadeInUp
                img(src="./img/catalog/catalog6.png", alt="").catalog__card-img
                .catalog__card-title
                    span Бетон товарный
        a(href="#").white-btn ПОЛНЫЙ КАТАЛОГ ТОВАРОВ