section.catalog-page
	.wrapper
		h1.title-1 Каталог всея товаров в Санкт-Петербурге и Ленинградской области и ещё 3 слова
		.catalog-page__cards
			.catalog-page__card.fadeInUp
				.catalog-page__card-content
					.catalog-page__card-img-container
						img(src="./img/catalog/catalog8.png" alt="").catalog-page__card-img
					.catalog-page__card-title
						a(href="#") Бетон товарный
					.catalog-page__card-list
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень
			.catalog-page__card.fadeInUp
				.catalog-page__card-content
					.catalog-page__card-img-container
						img(src="./img/catalog/catalog9.png" alt="").catalog-page__card-img
					.catalog-page__card-title
						a(href="#") Бетон товарный
					.catalog-page__card-list
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень
			.catalog-page__card.fadeInUp
				.catalog-page__card-content
					.catalog-page__card-img-container
						img(src="./img/catalog/catalog10.png" alt="").catalog-page__card-img
					.catalog-page__card-title
						a(href="#") Бетон товарный
					.catalog-page__card-list
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень
			.catalog-page__card.fadeInUp
				.catalog-page__card-content
					.catalog-page__card-img-container
						img(src="./img/catalog/catalog11.png" alt="").catalog-page__card-img
					.catalog-page__card-title
						a(href="#") Бетон товарный
					.catalog-page__card-list
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень
			.catalog-page__card.fadeInUp
				.catalog-page__card-content
					.catalog-page__card-img-container
						img(src="./img/catalog/catalog12.png" alt="").catalog-page__card-img
					.catalog-page__card-title
						a(href="#") Бетон товарный
					.catalog-page__card-list
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень
			.catalog-page__card.fadeInUp
				.catalog-page__card-content
					.catalog-page__card-img-container
						img(src="./img/catalog/catalog7.png" alt="").catalog-page__card-img
					.catalog-page__card-title
						a(href="#") Бетон товарный
					.catalog-page__card-list
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень
			.catalog-page__card.fadeInUp
				.catalog-page__card-content
					.catalog-page__card-img-container
						img(src="./img/catalog/catalog7.png" alt="").catalog-page__card-img
					.catalog-page__card-title
						a(href="#") Бетон товарный
					.catalog-page__card-list
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень
						a(href="#") Щебень