section.clients
    .wrapper
        h1.title-1 С нами работают
        .clients__list
            .clients__list-img.fadeInUp
                img(src="./img/clients/client1.png", alt="")
            .clients__list-img.fadeInUp
                img(src="./img/clients/client2.png", alt="")
            .clients__list-img.fadeInUp
                img(src="./img/clients/client3.png", alt="")
            .clients__list-img.fadeInUp
                img(src="./img/clients/client4.png", alt="")
            .clients__list-img.fadeInUp
                img(src="./img/clients/client5.png", alt="")
            .clients__list-img.fadeInUp
                img(src="./img/clients/client6.png", alt="")
            .clients__list-img.fadeInUp
                img(src="./img/clients/client7.png", alt="")

