section.clients
    .wrapper
        h1.title-1 С нами работают
        .clients__list.swiper-container
            .swiper-buttons
                .swiper-button-prev
                .swiper-button-next
            .swiper-wrapper
                .clients__list-img.fadeInUp.swiper-slide
                    img(src="./img/clients/client1.png", alt="")
                .clients__list-img.fadeInUp.swiper-slide
                    img(src="./img/clients/client2.png", alt="")
                .clients__list-img.fadeInUp.swiper-slide
                    img(src="./img/clients/client3.png", alt="")
                .clients__list-img.fadeInUp.swiper-slide
                    img(src="./img/clients/client4.png", alt="")
                .clients__list-img.fadeInUp.swiper-slide
                    img(src="./img/clients/client5.png", alt="")
                .clients__list-img.fadeInUp.swiper-slide
                    img(src="./img/clients/client6.png", alt="")
                .clients__list-img.fadeInUp.swiper-slide
                    img(src="./img/clients/client7.png", alt="")

