section.contacts
    .wrapper
        .contacts__left
            h1.title-1.contacts__title Контакты
            ul.contacts__list
                li.contacts__item.fadeInUp
                    .contacts__item-key
                        span Отдел продаж
                    a(href="#").contacts__item-value +7 (812) 602-60-82
                li.contacts__item.fadeInUp
                    .contacts__item-key
                        span Приём заявок
                    .contacts__item-value Ежедневно с 08:00-21:00
                li.contacts__item.fadeInUp
                    .contacts__item-key
                        span Работа офиса
                    .contacts__item-value Пн-пт с 08:00 - 21:00
                li.contacts__item.fadeInUp
                    .contacts__item-key
                        span E-mail для заявок
                    a(href="#").contacts__item-value app@apapapaapa
                li.contacts__item.fadeInUp
                    .contacts__item-key
                        span Адрес
                    .contacts__item-value г. Санкт-Петербург, пр. Просвещения 48, оф. 34

            .contacts__left-bottom
                .contacts__social
                    .contacts__social-title Мы в соц. сетях
                    .contacts__social-list
                        a(href="#")
                            +svg('icon-inst')
                        a(href="#")
                            +svg('icon-vk')
                        a(href="#")
                            +svg('icon-yt')
                        a(href="#")
                            +svg('icon-face')
                a(href="#callback" data-fancybox).contacts__callback.yellow-btn ЗАДАТЬ ВОПРОС
        .contacts__map
            .map__container.fadeInUp
                <iframe  src="https://yandex.ru/map-widget/v1/?um=constructor%3A7b962d475832f8eeb3502be6df583bbdf63046c41237e6229a6e429c17422f99&amp;source=constructor"  width="100%" height="100%" frameborder="0"></iframe>