section.delivery
    .wrapper
        .delivery__banner.fadeInUp
            .delivery__banner-content   
                .delivery__banner-text Доставим Ваш заказ на следующий день
                a(href="#").delivery__banner-btn.yellow-btn ЗАКАЗАТЬ доставку
        .delivery__info
            .delivery__info-item.fadeInUp
                span 74
                p регионов работы
            .delivery__info-item.fadeInUp
                span 3449
                p отгруженных материалов