footer.footer
    .wrapper
        .footer__left
            a(href="/").footer__logo
                +svg('logo-full')
            .footer__about © 2003-2020, ООО «СК «Монолит», официальный сайт
        nav.footer__nav
            .footer__nav-block
                .footer__nav-block-title Покупателям
                ul.footer__nav-list
                    li.footer__nav-item
                        a(href="#") Каталог товаров
                    li.footer__nav-item
                        a(href="#") Доставка и оплата
                    li.footer__nav-item
                        a(href="#") Гарантии
                    li.footer__nav-item
                        a(href="#") Скидки
                    li.footer__nav-item
                        a(href="#") Акции
            .footer__nav-block
                .footer__nav-block-title О компании
                ul.footer__nav-list
                    li.footer__nav-item
                        a(href="#") О нас
                    li.footer__nav-item
                        a(href="#") Отзывы
                    li.footer__nav-item
                        a(href="#") Вопрос-ответ
                    li.footer__nav-item
                        a(href="#") Карта сайта
                    li.footer__nav-item
                        a(href="#") Контакты
            
        .footer__right
            .footer__social
                span Мы в соц. сетях
                .footer__social-list
                    a(href="#")
                        +svg('icon-inst')
                    a(href="#")
                        +svg('icon-vk')
                    a(href="#")
                        +svg('icon-yt')
                    a(href="#")
                        +svg('icon-face')
            .footer__payment
                span Принимаем к оплате:
                .footer__payment-list
                    img(src="./img/payment/payment1.png", alt="")
                    img(src="./img/payment/payment2.png", alt="")
                    img(src="./img/payment/payment3.png", alt="")
                    img(src="./img/payment/payment4.png", alt="")
                    img(src="./img/payment/payment5.png", alt="")

            a(href="#").footer__policy Политика конфиденциальности

