header.header
    .wrapper
        .header__top
            .header__catalog
                .burger
                    span
                    span
                    span
                ul.header__catalog-list
                    li.header__catalog-item
                        a(href="#") Металлопрокат
                    li.header__catalog-item
                        a(href="#") Металлопрокат
                    li.header__catalog-item
                        a(href="#") Металлопрокат
                    li.header__catalog-item
                        a(href="#") Металлопрокат
                    li.header__catalog-item
                        a(href="#") Металлопрокат
                    li.header__catalog-item
                        a(href="#") Металлопрокат
                        
            .header__about
                .header__about-text
                    | Комплексная поставка строительных материалов
                .header__about-city
                    | Санкт-Петербург и Ленинградская область
            .header__contacts
                .header__contacts-city
                    | п. Мурино, ул. Кооперативная 20Б
                .header__contacts-time
                    | Часы работы: с 8:00 до 21:00


            .header__cart
                .header__cart-button
                    +svg('icon-cart')
                    .header__cart-value 3
                span Корзина
        nav.header__nav
            ul.header__nav-list
                li.header__nav-item
                    a(href="./catalog.html") Каталог
                li.header__nav-item
                    a(href="./delivery.html") Доставка и оплата
                li.header__nav-item
                    a(href="#") Гарантии
                li.header__nav-item.sale
                    a(href="#") Скидки
                li.header__nav-item
                    a(href="#") Акции
                li.header__nav-item.openable
                    a(href="#") О компании
                    ul.header__nav-sublist
                        li
                            a(href="#") Вопрос-ответ
                        li
                            a(href="#") Отзывы
                li.header__nav-item
                    a(href="./contacts.html") Контакты
