.mobilemenu
    .mobilemenu__search
        input(type="search" name="" placeholder="Поиск")
        +svg('zoom','0 0 17 17','17','17')
    .mobilemenu__products
        a(href="#").mobilemenu__products-item
            img(src="./img/sidebar/products-1.png" alt="")
            span Нерудные материалы 
        a(href="#").mobilemenu__products-item
            img(src="./img/sidebar/products-2.png" alt="")
            span Бетон товарный
        a(href="#").mobilemenu__products-item
            img(src="./img/sidebar/products-3.png" alt="")
            span ЖБИ изделия 
        a(href="#").mobilemenu__products-item
            img(src="./img/sidebar/products-4.png" alt="")
            span Металлопрокат
        a(href="#").mobilemenu__products-item
            img(src="./img/sidebar/products-5.png" alt="")
            span Стеновые материалы
        a(href="#").mobilemenu__products-item
            img(src="./img/sidebar/products-6.png" alt="")
            span Кровельные материалы
        a(href="#").mobilemenu__products-item
            img(src="./img/sidebar/products-7.png" alt="")
            span Утеплитель

    .mobilemenu__list-title Каталог товаров
    ul.mobilemenu__list
        li
            a(href="#") Кровельные материалы
        li
            a(href="#") Металлопрокат
        li
            a(href="#") Кровельные материалы
        li
            a(href="#") Бетон товарный
        li
            a(href="#") Бетон товарный
        li
            a(href="#") Бетон товарный

    .mobilemenu__list-title Меню
    ul.mobilemenu__list
        li
            a(href="#") Кровельные материалы
        li
            a(href="#") Металлопрокат
        li
            a(href="#") Кровельные материалы
        li
            a(href="#") Бетон товарный
        li
            a(href="#") Бетон товарный
        li
            a(href="#") Бетон товарный
    a(href="#callback" data-fancybox).yellow-btn Заказать звонок
    .mobilemenu__address
        b п. Мурино, ул. Кооперативная 20Б
        span Часы работы: с 8:00 до 21:00
    .mobilemenu__social
        a(href="#")
            +svg('icon-inst')
        a(href="#")
            +svg('icon-vk')
        a(href="#")
            +svg('icon-yt')
        a(href="#")
            +svg('icon-face')
    .mobilemenu__info
        span ООО «СК «Монолит»
        a(href="mailto:info@monolit78.ru") info@monolit78.ru