section.office
    .wrapper
        h1.title-1.office__title Наш оффис
        .office__cards
            .office__card.fadeInUp
                a(href="./img/office/office1.jpg" data-fancybox)
                    img(src="./img/office/office1.jpg", alt="")
            .office__card.fadeInUp
                a(href="./img/office/office2.jpg" data-fancybox)
                    img(src="./img/office/office2.jpg", alt="")
            .office__card.fadeInUp
                a(href="./img/office/office3.jpg" data-fancybox)
                    img(src="./img/office/office3.jpg", alt="")