section.promo
    .wrapper
        .promo__top
            a(href="#").promo__top-card.fadeInUp
                .promo__top-card-img
                    img(src="./img/promo-garant.png", alt="")
                .promo__top-card-text 
                    | Узнайте о наших 
                    span гарантиях
            a(href="#").promo__top-card.fadeInUp
                .promo__top-card-img
                    img(src="./img/promo-kamaz.png", alt="")
                .promo__top-card-text 
                    | Узнайте об 
                    span условиях доставки
        .promo__bottom.fadeInUp
            img(src="./img/promo-sale.png" alt="")
            .promo__bottom-content
                .promo__bottom-title.title-1 Покупай дешевле!
                .promo__bottom-text Скидки на следующие категории товаров
                a(href="#").yellow-btn Перейти к распродаже товаров

        

