section.questions
    .wrapper
        h1.title-1.questions__title Ответы на популярные вопросы
        .questions__list(data-dropdown)
            .questions__item.fadeInUp
                .questions__item-top
                    span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet, sem eu rutrum interdum, sapien tellus pretium elit, non tempor erat sapien nec lectus
                    +svg('icon-arrow')
                .questions__item-content
                    b Оплата банковской картой, через Интернет, возможна через системы электронных платежей.
                    p Минимальная сумма платежа — 1 рубль. 
                        br
                        | Максимальная сумма платежа отсутствует.
                    p Номер карты (PAN) должен иметь не менее 15 и не более 19 символов
                    b Мы принимаем платежи с сайта по следующим банковским картам   

            .questions__item.fadeInUp
                .questions__item-top
                    span Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    +svg('icon-arrow')
                .questions__item-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto tempora, adipisci fugiat aut, temporibus, eius quisquam officiis ratione optio iste cum ipsam eum voluptates est quidem excepturi debitis? Commodi, vero. 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod tempore velit, excepturi cum praesentium vero.
            
            .questions__item.fadeInUp
                .questions__item-top
                    span Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    +svg('icon-arrow')
                .questions__item-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto tempora, adipisci fugiat aut, temporibus, eius quisquam officiis ratione optio iste cum ipsam eum voluptates est quidem excepturi debitis? Commodi, vero. 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod tempore velit, excepturi cum praesentium vero.
                    
            .questions__item.fadeInUp
                .questions__item-top
                    span Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    +svg('icon-arrow')
                .questions__item-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto tempora, adipisci fugiat aut, temporibus, eius quisquam officiis ratione optio iste cum ipsam eum voluptates est quidem excepturi debitis? Commodi, vero. 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod tempore velit, excepturi cum praesentium vero.
                    
            .questions__item.fadeInUp
                .questions__item-top
                    span Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    +svg('icon-arrow')
                .questions__item-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto tempora, adipisci fugiat aut, temporibus, eius quisquam officiis ratione optio iste cum ipsam eum voluptates est quidem excepturi debitis? Commodi, vero. 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod tempore velit, excepturi cum praesentium vero.
                    