section.requisites
    .wrapper
        h1.title-1.requisites__title Реквизиты
        ul.requisites__list
            li.requisites__item.fadeInUp
                .requisites__item-key
                    span Юридический адрес:
                .requisites__item-value 194352, г. Санкт-Петербург, пр. Просвещения д.46, корп.1, лит. А, 34Н, помещение 55
            li.requisites__item.fadeInUp
                .requisites__item-key
                    span Р/c:
                .requisites__item-value 30101810500000000653
            li.requisites__item.fadeInUp
                .requisites__item-key
                    span К/с:
                .requisites__item-value 30101810500000000653
            li.requisites__item.fadeInUp
                .requisites__item-key
                    span Банк:
                .requisites__item-value СЕВЕРО-ЗАПАДНЫЙ БАНК ПАО СБЕРБАНК
            li.requisites__item.fadeInUp
                .requisites__item-key
                    span БИК:
                .requisites__item-value 044030653
            li.requisites__item.fadeInUp
                .requisites__item-key
                    span ИНН:
                .requisites__item-value 7811628889
            li.requisites__item.fadeInUp
                .requisites__item-key
                    span КПП:
                .requisites__item-value 7811628889
            li.requisites__item.fadeInUp
                .requisites__item-key
                    span ОКПО:
                .requisites__item-value 7811628889
            li.requisites__item.fadeInUp
                .requisites__item-key
                    span ОГРН:
                .requisites__item-value 7811628889
            li.requisites__item.fadeInUp
                .requisites__item-key
                    span ОКАТО:
                .requisites__item-value 7811628889