section.stocks
    .wrapper
        .stocks__banner.fadeInUp
            .stocks__banner-content
                .stocks__banner-title Строительство под ключ с Монолит!
                .stocks__banner-text 
                    span Получите скидку
                    |  на комплексную поставку материалов для строительства дома
            .stocks__banner-right
                a(href="#").yellow-btn Получить скидку
                a(href="#") Перейти к другим акциям
        a(href="#").stocks__questions.fadeInUp
            +svg('icon-questions', '0 0 25 25', '25', '25')
            span Ответы на популярные вопросы
