doctype html
html(lang="ru")
	//- HEAD
	include ../base/_head.pug
	body(id="body")

		//- SVG-SPRITE
		include ../base/_svg-sprite.pug

		//- MIXINS
		include ../base/_mixins.pug
		
		//- MOBILEMENU
		//- include ../blocks/_mobilemenu.pug

		//- ОСНОВАНЯ ОБЕРТКА
		.wrap
			


	//- SCRIPTS
	include ../base/_scripts.pug