.listing__filter(data-dropdown=".listing__filter-block-header")
    .listing__filter-block
        .listing__filter-block-header
            .listing__filter-block-title Цена от, руб.
            .listing__filter-block-arrow
        .listing__filter-block-content
            .listing__filter-price
                .listing__filter-price-inputs
                    input(name="range-min" type="text", value='4000')
                    span —
                    input(name="range-max" type="text" value='8000')
                .listing__filter-price-range

    .listing__filter-block
        .listing__filter-block-header
            .listing__filter-block-title Специфичный фильтр для категории
            .listing__filter-block-arrow
        .listing__filter-block-content
            .listing__filter-checkboxes
                label
                    input(type="checkbox")
                    span Что - то  
                        span (61)
                label
                    input(type="checkbox")
                    span Что - то  
                        span (61)
                label
                    input(type="checkbox")
                    span Что - то 
                        span (61)
                label
                    input(type="checkbox")
                    span Что - то 
                        span (61)

    .listing__filter-list
        .listing__filter-list-item Бетон
        .listing__filter-list-item ЖБИ
        .listing__filter-list-item.active Песок
        .listing__filter-list-item Щебень
        .listing__filter-list-item Керамзит
        .listing__filter-list-item Артматура

    .listing__filter-block
        .listing__filter-block-header
            .listing__filter-block-title Влагостойкость
            .listing__filter-block-arrow
        .listing__filter-block-content
            .listing__filter-checkboxes
                label
                    input(type="checkbox")
                    span Что - то 
                        span (61)
                label
                    input(type="checkbox")
                    span Что - то 
                        span (61)

    .listing__filter-block
        .listing__filter-block-header
            .listing__filter-block-title Длина, мм
            .listing__filter-block-arrow
        .listing__filter-block-content
            .listing__filter-checkboxes
                label
                    input(type="checkbox")
                    span Что - то 
                        span (61)
                label
                    input(type="checkbox")
                    span Что - то 
                        span (61)
    .listing__filter-block
        .listing__filter-block-header
            .listing__filter-block-title Толщина, мм
            .listing__filter-block-arrow
        .listing__filter-block-content
            .listing__filter-checkboxes
                label
                    input(type="checkbox")
                    span Что - то 
                        span (61)
                label
                    input(type="checkbox")
                    span Что - то 
                        span (61)

    .listing__filter-block
        .listing__filter-block-header
            .listing__filter-block-title Ширина, мм
            .listing__filter-block-arrow
        .listing__filter-block-content
            .listing__filter-checkboxes
                label
                    input(type="checkbox")
                    span Что - то 
                        span (61)
                label
                    input(type="checkbox")
                    span Что - то 
                        span (61)

    .listing__filter-block
        .listing__filter-block-header
            .listing__filter-block-title Цвет
            .listing__filter-block-arrow
        .listing__filter-block-content
            .listing__filter-checkboxes
                label
                    input(type="checkbox")
                    span Что - то 
                        span (61)
                label
                    input(type="checkbox")
                    span Что - то 
                        span (61)

    .listing__filter-block
        .listing__filter-block-header
            .listing__filter-block-title Мягкая
            .listing__filter-block-arrow
        .listing__filter-block-content
            .listing__filter-checkboxes
                label
                    input(type="checkbox")
                    span Что - то 
                        span (61)
                label
                    input(type="checkbox")
                    span Что - то 
                        span (61)

    .listing__filter-block
        .listing__filter-block-header
            .listing__filter-block-title Тип
            .listing__filter-block-arrow
        .listing__filter-block-content
            .listing__filter-checkboxes
                label
                    input(type="checkbox")
                    span Что - то 
                        span (61)
                label
                    input(type="checkbox")
                    span Что - то 
                        span (61)